<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../_partials/user/head') %>
  </head>
  <body>
    <!-- Responsive navbar-->
    <%- include('../_partials/user/navbar') %>
    <!-- Page header with logo and tagline-->
    <%- include('../_partials/user/header') %>
    <!-- Page content-->
    <div class="container">
      <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-12 mb-4 ">
          <!-- Nested row for non-featured blog posts-->
          <div class="row">
            
            <div class="col-lg-9 offset-lg-3">
                <div class="col-md-9">
                  <% if (typeof message != "undefined") { %>
                    <div class="alert alert-<%= message.type %>">
                      <%= message.text %> 
                  </div>
                  <% } %>
                </div>
                <!-- Blog post-->
                <form action="" method="POST">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="firstName" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Reset Password</button>
                  </form>
            </div>
          </div>
          <!-- Pagination-->
        </div>
      </div>
    </div>
    <!-- Footer-->
    <%- include('../_partials/user/footer') %>
  </body>
</html>
