<div class="col-lg-6">
    <!-- Blog post-->
    <div class="card mb-4">
        <a href="/blogs/<%= url %>"><img class="card-img-top" src="/static/images/<%= image %> " alt="<%= title %> " /></a>
        <div class="card-body">
            <div class="small text-muted">January 1, 2022</div>
            <h2 class="card-title h4"><%= title %> </h2>
            <p class="card-text"><%= shortDescription %> </p>
            <a class="btn btn-primary" href="/blogs/<%= url %>">Read more →</a>
        </div>
    </div>
</div>